.header{
    background-color: $primaryColor;
    
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
    }
    
    &__userActions{
        .createTodoBtn{

            &:active{
                transform: translateY(1px);
            }
        }
    }
}