.header{
    background-color: $primaryColor;

    @media (max-width:768px) {
        padding: .875rem 2rem;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
    }
    
    &__userActions{
        display: flex;
        align-items: center;
        gap: 1rem;

        .createTodoBtn{

            &:active{
                transform: translateY(1px);
            }
        }
    }
}