.modal{
    
    &::after{
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.3);
        animation: opacity .4s ease-in-out;
        z-index: 1;
    }

    .modalForm{
        position: fixed;
        top: 20%;
        right: 50%;
        transform: translate(50%, -50%);
        background-color: $white;
        box-shadow: $modalBoxShadow;
        padding: 1rem;
        border-radius: .5rem;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: .250rem;
        z-index: 10;
        animation: top 400ms ease-in-out;

        @media (max-width:768px) {
            width: 250px;
            top: 40%;
            animation: mobileTop 400ms ease-in-out;
        }

        &__btns{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .875rem;

            .actionBtn{
                background-color: $primaryColor;
                
                &:disabled{
                    cursor: not-allowed;
                    opacity: .6;
                }
            }
        }
    }

    textarea{
        resize: none;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 1px;
        background-color: transparent;
        border-radius: .25rem;
        border: 1px solid $earlGray;
        padding: .5rem;
        margin: .5rem 0;

        &:focus{
            border-color: $gray;
        }
    }

    button{
        padding: .5rem;
        border-radius: .5rem;
        background-color: $bodyColor;

        &:hover{
            opacity: .8;
        }
    }

}

@keyframes top {
    0%{ 
        top: 15%;
        
    }
    
    100%{
        top: 20%;
    }
}

@keyframes opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes mobileTop {
    0%{ 
        top: 30%;
        
    }
    
    100%{
        top: 40%;
    }
}