.themeBtn{
    width: 3rem;
    height: 1.5rem;
    background-color: rgba($secondaryColor, .2);
    border-radius: 1.5rem;
    position: relative;
    
    
    &__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .250rem;

        .sunny{
            color: $yellow;
        }
    }

    &__drag{
        position: absolute;
        top: 0;
        width: 1.5rem;
        height: 100%;
        background-color: $white;
        border-radius: 50%;
        transition: 700ms right ease-in-out;
        
    }

    .dark{
        right: 0;
        
    }
}
