//COLOR
$bodyColor: #f2f2f2;
$primaryColor: #fdc999;
$secondaryColor: #1DE9B6;
$earlGray: #ddd;
$gray: #bbb;
$white: #fff;
$black: #000;


//BOX SHADOW
$modalBoxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;